<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142360014720-64do6f2ki97cm842n73qmnf6h5g704e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142360014720-64do6f2ki97cm842n73qmnf6h5g704e2</string>
	<key>API_KEY</key>
	<string>AIzaSyBhydWQStMKLp1gHFfbmAMPlArU_LNjAxM</string>
	<key>GCM_SENDER_ID</key>
	<string>142360014720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weight.ng</string>
	<key>PROJECT_ID</key>
	<string>weight-tracker-b2b17</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-tracker-b2b17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142360014720:ios:1d4a971baf28918cf69b65</string>
</dict>
</plist>